@import "tailwindcss";
@import "tw-animate-css";

@font-face {  
  font-family: "Epilogue";
  font-style: normal;  
  font-weight: 700;  
  font-display: swap;
  src: url("/fonts/epilogue/Epilogue-Bold.ttf") format("truetype");
}

@font-face {  
  font-family: "Epilogue";
  font-style: normal;  
  font-weight: 400;  
  font-display: swap;
  src: url("/fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
}

@font-face {  
  font-family: "Epilogue";
  font-style: italic;  
  font-weight: 400;  
  font-display: swap;
  src: url("/fonts/epilogue/Epilogue-Italic.ttf") format("truetype");
}

@font-face {  
  font-family: "Source Serif 4";
  src: url("/fonts/source/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype supports variations"),
       url("/fonts/source/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-style: normal;  
  font-weight: 400 700;
  font-display: swap;
}

@font-face {  
  font-family: "Source Serif 4";
  src: url("/fonts/source/SourceSerif4-Italic-VariableFont_opsz,wght.ttf") format("truetype supports variations"),
       url("/fonts/source/SourceSerif4-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-style: italic;  
  font-weight: 400 700;
  font-display: swap;
}

@theme {  
  --color-md-fg: #111213;  
  --color-md-bg: #F5F6F7;  
  --color-md-muted: #494C50;
  --color-md-separator: #c9cbcf;
  --color-md-accent: #0663EF;

  --font-accent: "Epilogue", ui-monospace, serif, system-ui;
  --font-text: "Source Serif 4", ui-serif, serif, system-ui;

  --breakpoint-md: 54rem;
}
