---
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";
import Size from "@/layouts/Size.astro";
---

<Layout title="404: This page could not be found">
  <Size>
    <Nav />
    <h1
      class="text-5xl font-bold font-accent leading-[1.1] text-center text-balance"
    >
      This page could not be found.
    </h1>
  </Size>
</Layout>
