---
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404: This page could not be found">
  <Nav />
  <h1
    class="text-5xl font-bold font-serif leading-[1.1] text-left md:text-center text-balance"
  >
    This page could not be found.
  </h1>
</Layout>
