<footer class="flex flex-row items-center gap-4 justify-center">
      <p class="text-muted text-sm font-serif text-center">
        Copyright © {new Date().getFullYear()} Mislav Dujak
      </p>
      <div class="flex flex-row items-center gap-2">
        <a
          href="https://x.com/mislavdujak"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa-brands fa-x-twitter text-muted hover:text-accent text-lg"
          ></i>
        </a>
        <a
          href="https://github.com/dujmi"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa-brands fa-github text-muted hover:text-accent text-lg"
          ></i>
        </a>
      </div>
    </footer>
