---
import { Image } from "astro:assets";

import Favicon from "../assets/favicon.jpg";
import Share from "@/components/Share.tsx";
---

<header>
  <nav class="flex flex-row items-center justify-between w-full relative">
    <div class="flex items-center justify-left md:gap-[1.25rem] gap-[1rem]">
      <Image
        src={Favicon}
        alt="Mislav Dujak"
        loading="eager"
        class="rounded-full w-16 h-16"
      />
      <hgroup>
        <h1 class="font-serif font-bold text-xl leading-6">Mislav Dujak</h1>
        <p class="font-sans text-md-muted text-sm leading-5">
          STUDENT @CROATIA
        </p>
      </hgroup>
    </div>
    <Share client:load />
  </nav>
  <p class="w-full text-justify text-lg leading-[1.55] font-normal pt-7 pb-20">
    When Lucasfilm lets you down for the <i>nth</i> time (<i>Andor’s</i> the exception),
    a man’s gotta find his entertainment elsewhere. For me, that became sports. Although
    this blog leans heavily on numbers, the goal is to explore that space between
    logic and emotion — where the game truly happens. I can’t promise every pop culture
    reference will land, or that posts will drop like clockwork, but hey — at least
    it won’t take as long as <i>Winds of Winter</i> or Everton’s next title.
  </p>
</header>
