---
import { Image } from "astro:assets";

import Favicon from "../assets/favicon.jpg";
import Share from "@/components/Share.tsx";
---

<header>
  <nav class="flex flex-row items-center justify-between w-full relative">
    <div class="flex items-center justify-left md:gap-[1.25rem] gap-[1rem]">
      <Image
        src={Favicon}
        alt="Mislav Dujak"
        loading="eager"
        class="rounded-full w-16 h-16"
      />
      <hgroup>
        <h1 class="font-serif font-bold text-xl leading-6">Mislav Dujak</h1>
        <p class="font-sans text-md-muted text-sm leading-5">
          STUDENT @CROATIA
        </p>
      </hgroup>
    </div>
    <Share client:load />
  </nav>
</header>
